@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@400;700&family=Open+Sans:wght@400;600;700&family=Sacramento&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@400;700&family=Montserrat&family=Open+Sans:wght@400;600;700&family=Sacramento&display=swap');


body {
    background-color: #EAFDFC;   
    box-sizing: border-box;
    margin: 0;
}

.nav-link {
    color: #3AA6B9;
    color: #0a89a0;
    color: #077488;
    
}
.nav-link:hover {
    color:#083265;
}
